header {
    width: 100%;
    height: 6vh;
    transition: background-color .5s;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
    flex-direction: row;
    color: white;
    z-index: 5;
}

/* CLASSES */
.Logo {
    width: 100%;
    height: 2vh;
    pointer-events: none;
}

.IconBtn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    color: #818181;
    cursor: pointer;
    margin-right: 2vw;
}

.IconBtn:hover {
    color: white;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 6; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #252526; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }